<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.web.mapper.IcuMapper">
  <resultMap id="BaseResultMap" type="com.njxzc.web.entity.Icu">
    <id column="icuId" jdbcType="INTEGER" property="icuid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="icuName" jdbcType="VARCHAR" property="icuname" />
    <result column="bedNo" jdbcType="INTEGER" property="bedno" />
    <result column="chargePerson" jdbcType="VARCHAR" property="chargeperson" />
    <result column="occupantsNo" jdbcType="INTEGER" property="occupantsno" />
    <result column="dischargesNo" jdbcType="INTEGER" property="dischargesno" />
    <result column="treatmentRate" jdbcType="DOUBLE" property="treatmentrate" />
    <result column="improvementRate" jdbcType="DOUBLE" property="improvementrate" />
    <result column="unhealedRate" jdbcType="DOUBLE" property="unhealedrate" />
    <result column="mortality" jdbcType="DOUBLE" property="mortality" />
    <result column="diagnostic coincidence" jdbcType="VARCHAR" property="diagnosticCoincidence" />
    <result column="bed utilization rate" jdbcType="DOUBLE" property="bedUtilizationRate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    icuId, userId, icuName, bedNo, chargePerson, occupantsNo, dischargesNo, treatmentRate, 
    improvementRate, unhealedRate, mortality, "diagnostic coincidence", "bed utilization rate"
  </sql>
  <select id="selectByExample" parameterType="com.njxzc.web.entity.IcuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from icu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from icu
    where icuId = #{icuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from icu
    where icuId = #{icuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.njxzc.web.entity.IcuExample">
    delete from icu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njxzc.web.entity.Icu">
    insert into icu (icuId, userId, icuName, 
      bedNo, chargePerson, occupantsNo, 
      dischargesNo, treatmentRate, improvementRate, 
      unhealedRate, mortality, "diagnostic coincidence", 
      "bed utilization rate")
    values (#{icuid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{icuname,jdbcType=VARCHAR}, 
      #{bedno,jdbcType=INTEGER}, #{chargeperson,jdbcType=VARCHAR}, #{occupantsno,jdbcType=INTEGER}, 
      #{dischargesno,jdbcType=INTEGER}, #{treatmentrate,jdbcType=DOUBLE}, #{improvementrate,jdbcType=DOUBLE}, 
      #{unhealedrate,jdbcType=DOUBLE}, #{mortality,jdbcType=DOUBLE}, #{diagnosticCoincidence,jdbcType=VARCHAR}, 
      #{bedUtilizationRate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.njxzc.web.entity.Icu">
    insert into icu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="icuid != null">
        icuId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="icuname != null">
        icuName,
      </if>
      <if test="bedno != null">
        bedNo,
      </if>
      <if test="chargeperson != null">
        chargePerson,
      </if>
      <if test="occupantsno != null">
        occupantsNo,
      </if>
      <if test="dischargesno != null">
        dischargesNo,
      </if>
      <if test="treatmentrate != null">
        treatmentRate,
      </if>
      <if test="improvementrate != null">
        improvementRate,
      </if>
      <if test="unhealedrate != null">
        unhealedRate,
      </if>
      <if test="mortality != null">
        mortality,
      </if>
      <if test="diagnosticCoincidence != null">
        "diagnostic coincidence",
      </if>
      <if test="bedUtilizationRate != null">
        "bed utilization rate",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="icuid != null">
        #{icuid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="icuname != null">
        #{icuname,jdbcType=VARCHAR},
      </if>
      <if test="bedno != null">
        #{bedno,jdbcType=INTEGER},
      </if>
      <if test="chargeperson != null">
        #{chargeperson,jdbcType=VARCHAR},
      </if>
      <if test="occupantsno != null">
        #{occupantsno,jdbcType=INTEGER},
      </if>
      <if test="dischargesno != null">
        #{dischargesno,jdbcType=INTEGER},
      </if>
      <if test="treatmentrate != null">
        #{treatmentrate,jdbcType=DOUBLE},
      </if>
      <if test="improvementrate != null">
        #{improvementrate,jdbcType=DOUBLE},
      </if>
      <if test="unhealedrate != null">
        #{unhealedrate,jdbcType=DOUBLE},
      </if>
      <if test="mortality != null">
        #{mortality,jdbcType=DOUBLE},
      </if>
      <if test="diagnosticCoincidence != null">
        #{diagnosticCoincidence,jdbcType=VARCHAR},
      </if>
      <if test="bedUtilizationRate != null">
        #{bedUtilizationRate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njxzc.web.entity.IcuExample" resultType="java.lang.Long">
    select count(*) from icu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update icu
    <set>
      <if test="record.icuid != null">
        icuId = #{record.icuid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.icuname != null">
        icuName = #{record.icuname,jdbcType=VARCHAR},
      </if>
      <if test="record.bedno != null">
        bedNo = #{record.bedno,jdbcType=INTEGER},
      </if>
      <if test="record.chargeperson != null">
        chargePerson = #{record.chargeperson,jdbcType=VARCHAR},
      </if>
      <if test="record.occupantsno != null">
        occupantsNo = #{record.occupantsno,jdbcType=INTEGER},
      </if>
      <if test="record.dischargesno != null">
        dischargesNo = #{record.dischargesno,jdbcType=INTEGER},
      </if>
      <if test="record.treatmentrate != null">
        treatmentRate = #{record.treatmentrate,jdbcType=DOUBLE},
      </if>
      <if test="record.improvementrate != null">
        improvementRate = #{record.improvementrate,jdbcType=DOUBLE},
      </if>
      <if test="record.unhealedrate != null">
        unhealedRate = #{record.unhealedrate,jdbcType=DOUBLE},
      </if>
      <if test="record.mortality != null">
        mortality = #{record.mortality,jdbcType=DOUBLE},
      </if>
      <if test="record.diagnosticCoincidence != null">
        "diagnostic coincidence" = #{record.diagnosticCoincidence,jdbcType=VARCHAR},
      </if>
      <if test="record.bedUtilizationRate != null">
        "bed utilization rate" = #{record.bedUtilizationRate,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update icu
    set icuId = #{record.icuid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      icuName = #{record.icuname,jdbcType=VARCHAR},
      bedNo = #{record.bedno,jdbcType=INTEGER},
      chargePerson = #{record.chargeperson,jdbcType=VARCHAR},
      occupantsNo = #{record.occupantsno,jdbcType=INTEGER},
      dischargesNo = #{record.dischargesno,jdbcType=INTEGER},
      treatmentRate = #{record.treatmentrate,jdbcType=DOUBLE},
      improvementRate = #{record.improvementrate,jdbcType=DOUBLE},
      unhealedRate = #{record.unhealedrate,jdbcType=DOUBLE},
      mortality = #{record.mortality,jdbcType=DOUBLE},
      "diagnostic coincidence" = #{record.diagnosticCoincidence,jdbcType=VARCHAR},
      "bed utilization rate" = #{record.bedUtilizationRate,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njxzc.web.entity.Icu">
    update icu
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="icuname != null">
        icuName = #{icuname,jdbcType=VARCHAR},
      </if>
      <if test="bedno != null">
        bedNo = #{bedno,jdbcType=INTEGER},
      </if>
      <if test="chargeperson != null">
        chargePerson = #{chargeperson,jdbcType=VARCHAR},
      </if>
      <if test="occupantsno != null">
        occupantsNo = #{occupantsno,jdbcType=INTEGER},
      </if>
      <if test="dischargesno != null">
        dischargesNo = #{dischargesno,jdbcType=INTEGER},
      </if>
      <if test="treatmentrate != null">
        treatmentRate = #{treatmentrate,jdbcType=DOUBLE},
      </if>
      <if test="improvementrate != null">
        improvementRate = #{improvementrate,jdbcType=DOUBLE},
      </if>
      <if test="unhealedrate != null">
        unhealedRate = #{unhealedrate,jdbcType=DOUBLE},
      </if>
      <if test="mortality != null">
        mortality = #{mortality,jdbcType=DOUBLE},
      </if>
      <if test="diagnosticCoincidence != null">
        "diagnostic coincidence" = #{diagnosticCoincidence,jdbcType=VARCHAR},
      </if>
      <if test="bedUtilizationRate != null">
        "bed utilization rate" = #{bedUtilizationRate,jdbcType=DOUBLE},
      </if>
    </set>
    where icuId = #{icuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njxzc.web.entity.Icu">
    update icu
    set userId = #{userid,jdbcType=INTEGER},
      icuName = #{icuname,jdbcType=VARCHAR},
      bedNo = #{bedno,jdbcType=INTEGER},
      chargePerson = #{chargeperson,jdbcType=VARCHAR},
      occupantsNo = #{occupantsno,jdbcType=INTEGER},
      dischargesNo = #{dischargesno,jdbcType=INTEGER},
      treatmentRate = #{treatmentrate,jdbcType=DOUBLE},
      improvementRate = #{improvementrate,jdbcType=DOUBLE},
      unhealedRate = #{unhealedrate,jdbcType=DOUBLE},
      mortality = #{mortality,jdbcType=DOUBLE},
      "diagnostic coincidence" = #{diagnosticCoincidence,jdbcType=VARCHAR},
      "bed utilization rate" = #{bedUtilizationRate,jdbcType=DOUBLE}
    where icuId = #{icuid,jdbcType=INTEGER}
  </update>
</mapper>