<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.web.mapper.InspectionprojectMapper">
  <resultMap id="BaseResultMap" type="com.njxzc.web.entity.Inspectionproject">
    <id column="inspectionNumber" jdbcType="INTEGER" property="inspectionnumber" />
    <result column="inspectionDate" jdbcType="VARCHAR" property="inspectiondate" />
    <result column="inspectionPerson" jdbcType="VARCHAR" property="inspectionperson" />
    <result column="hospitalizationNumber" jdbcType="INTEGER" property="hospitalizationnumber" />
    <result column="inspectionContent" jdbcType="VARCHAR" property="inspectioncontent" />
    <result column="inspectionResult" jdbcType="VARCHAR" property="inspectionresult" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    inspectionNumber, inspectionDate, inspectionPerson, hospitalizationNumber, inspectionContent, 
    inspectionResult
  </sql>
  <select id="selectByExample" parameterType="com.njxzc.web.entity.InspectionprojectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inspectionproject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inspectionproject
    where inspectionNumber = #{inspectionnumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inspectionproject
    where inspectionNumber = #{inspectionnumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.njxzc.web.entity.InspectionprojectExample">
    delete from inspectionproject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njxzc.web.entity.Inspectionproject">
    insert into inspectionproject (inspectionNumber, inspectionDate, 
      inspectionPerson, hospitalizationNumber, 
      inspectionContent, inspectionResult)
    values (#{inspectionnumber,jdbcType=INTEGER}, #{inspectiondate,jdbcType=VARCHAR}, 
      #{inspectionperson,jdbcType=VARCHAR}, #{hospitalizationnumber,jdbcType=INTEGER}, 
      #{inspectioncontent,jdbcType=VARCHAR}, #{inspectionresult,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.njxzc.web.entity.Inspectionproject">
    insert into inspectionproject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inspectionnumber != null">
        inspectionNumber,
      </if>
      <if test="inspectiondate != null">
        inspectionDate,
      </if>
      <if test="inspectionperson != null">
        inspectionPerson,
      </if>
      <if test="hospitalizationnumber != null">
        hospitalizationNumber,
      </if>
      <if test="inspectioncontent != null">
        inspectionContent,
      </if>
      <if test="inspectionresult != null">
        inspectionResult,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inspectionnumber != null">
        #{inspectionnumber,jdbcType=INTEGER},
      </if>
      <if test="inspectiondate != null">
        #{inspectiondate,jdbcType=VARCHAR},
      </if>
      <if test="inspectionperson != null">
        #{inspectionperson,jdbcType=VARCHAR},
      </if>
      <if test="hospitalizationnumber != null">
        #{hospitalizationnumber,jdbcType=INTEGER},
      </if>
      <if test="inspectioncontent != null">
        #{inspectioncontent,jdbcType=VARCHAR},
      </if>
      <if test="inspectionresult != null">
        #{inspectionresult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njxzc.web.entity.InspectionprojectExample" resultType="java.lang.Long">
    select count(*) from inspectionproject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update inspectionproject
    <set>
      <if test="record.inspectionnumber != null">
        inspectionNumber = #{record.inspectionnumber,jdbcType=INTEGER},
      </if>
      <if test="record.inspectiondate != null">
        inspectionDate = #{record.inspectiondate,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectionperson != null">
        inspectionPerson = #{record.inspectionperson,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalizationnumber != null">
        hospitalizationNumber = #{record.hospitalizationnumber,jdbcType=INTEGER},
      </if>
      <if test="record.inspectioncontent != null">
        inspectionContent = #{record.inspectioncontent,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectionresult != null">
        inspectionResult = #{record.inspectionresult,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update inspectionproject
    set inspectionNumber = #{record.inspectionnumber,jdbcType=INTEGER},
      inspectionDate = #{record.inspectiondate,jdbcType=VARCHAR},
      inspectionPerson = #{record.inspectionperson,jdbcType=VARCHAR},
      hospitalizationNumber = #{record.hospitalizationnumber,jdbcType=INTEGER},
      inspectionContent = #{record.inspectioncontent,jdbcType=VARCHAR},
      inspectionResult = #{record.inspectionresult,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njxzc.web.entity.Inspectionproject">
    update inspectionproject
    <set>
      <if test="inspectiondate != null">
        inspectionDate = #{inspectiondate,jdbcType=VARCHAR},
      </if>
      <if test="inspectionperson != null">
        inspectionPerson = #{inspectionperson,jdbcType=VARCHAR},
      </if>
      <if test="hospitalizationnumber != null">
        hospitalizationNumber = #{hospitalizationnumber,jdbcType=INTEGER},
      </if>
      <if test="inspectioncontent != null">
        inspectionContent = #{inspectioncontent,jdbcType=VARCHAR},
      </if>
      <if test="inspectionresult != null">
        inspectionResult = #{inspectionresult,jdbcType=VARCHAR},
      </if>
    </set>
    where inspectionNumber = #{inspectionnumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njxzc.web.entity.Inspectionproject">
    update inspectionproject
    set inspectionDate = #{inspectiondate,jdbcType=VARCHAR},
      inspectionPerson = #{inspectionperson,jdbcType=VARCHAR},
      hospitalizationNumber = #{hospitalizationnumber,jdbcType=INTEGER},
      inspectionContent = #{inspectioncontent,jdbcType=VARCHAR},
      inspectionResult = #{inspectionresult,jdbcType=VARCHAR}
    where inspectionNumber = #{inspectionnumber,jdbcType=INTEGER}
  </update>
</mapper>