<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.web.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.njxzc.web.entity.Order">
    <id column="orderId" jdbcType="INTEGER" property="orderid" />
    <result column="orderDetailsId" jdbcType="INTEGER" property="orderdetailsid" />
    <result column="supplierId" jdbcType="INTEGER" property="supplierid" />
    <result column="orderItems" jdbcType="INTEGER" property="orderitems" />
    <result column="orderDate" jdbcType="TIMESTAMP" property="orderdate" />
    <result column="deliveryDate" jdbcType="TIMESTAMP" property="deliverydate" />
    <result column="productionPlace" jdbcType="VARCHAR" property="productionplace" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    orderId, orderDetailsId, supplierId, orderItems, orderDate, deliveryDate, productionPlace
  </sql>
  <select id="selectByExample" parameterType="com.njxzc.web.entity.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where orderId = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.njxzc.web.entity.OrderExample">
    delete from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njxzc.web.entity.Order">
    insert into order (orderId, orderDetailsId, supplierId, 
      orderItems, orderDate, deliveryDate, 
      productionPlace)
    values (#{orderid,jdbcType=INTEGER}, #{orderdetailsid,jdbcType=INTEGER}, #{supplierid,jdbcType=INTEGER}, 
      #{orderitems,jdbcType=INTEGER}, #{orderdate,jdbcType=TIMESTAMP}, #{deliverydate,jdbcType=TIMESTAMP}, 
      #{productionplace,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.njxzc.web.entity.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderId,
      </if>
      <if test="orderdetailsid != null">
        orderDetailsId,
      </if>
      <if test="supplierid != null">
        supplierId,
      </if>
      <if test="orderitems != null">
        orderItems,
      </if>
      <if test="orderdate != null">
        orderDate,
      </if>
      <if test="deliverydate != null">
        deliveryDate,
      </if>
      <if test="productionplace != null">
        productionPlace,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderdetailsid != null">
        #{orderdetailsid,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null">
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="orderitems != null">
        #{orderitems,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null">
        #{orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverydate != null">
        #{deliverydate,jdbcType=TIMESTAMP},
      </if>
      <if test="productionplace != null">
        #{productionplace,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njxzc.web.entity.OrderExample" resultType="java.lang.Long">
    select count(*) from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order
    <set>
      <if test="record.orderid != null">
        orderId = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.orderdetailsid != null">
        orderDetailsId = #{record.orderdetailsid,jdbcType=INTEGER},
      </if>
      <if test="record.supplierid != null">
        supplierId = #{record.supplierid,jdbcType=INTEGER},
      </if>
      <if test="record.orderitems != null">
        orderItems = #{record.orderitems,jdbcType=INTEGER},
      </if>
      <if test="record.orderdate != null">
        orderDate = #{record.orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deliverydate != null">
        deliveryDate = #{record.deliverydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productionplace != null">
        productionPlace = #{record.productionplace,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order
    set orderId = #{record.orderid,jdbcType=INTEGER},
      orderDetailsId = #{record.orderdetailsid,jdbcType=INTEGER},
      supplierId = #{record.supplierid,jdbcType=INTEGER},
      orderItems = #{record.orderitems,jdbcType=INTEGER},
      orderDate = #{record.orderdate,jdbcType=TIMESTAMP},
      deliveryDate = #{record.deliverydate,jdbcType=TIMESTAMP},
      productionPlace = #{record.productionplace,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njxzc.web.entity.Order">
    update order
    <set>
      <if test="orderdetailsid != null">
        orderDetailsId = #{orderdetailsid,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null">
        supplierId = #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="orderitems != null">
        orderItems = #{orderitems,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null">
        orderDate = #{orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverydate != null">
        deliveryDate = #{deliverydate,jdbcType=TIMESTAMP},
      </if>
      <if test="productionplace != null">
        productionPlace = #{productionplace,jdbcType=VARCHAR},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njxzc.web.entity.Order">
    update order
    set orderDetailsId = #{orderdetailsid,jdbcType=INTEGER},
      supplierId = #{supplierid,jdbcType=INTEGER},
      orderItems = #{orderitems,jdbcType=INTEGER},
      orderDate = #{orderdate,jdbcType=TIMESTAMP},
      deliveryDate = #{deliverydate,jdbcType=TIMESTAMP},
      productionPlace = #{productionplace,jdbcType=VARCHAR}
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
</mapper>