<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.web.mapper.OutpatientPhysicianOnDutyMapper">
  <resultMap id="BaseResultMap" type="com.njxzc.web.entity.OutpatientPhysicianOnDuty">
    <id column="outpatientDoctorId" jdbcType="INTEGER" property="outpatientdoctorid" />
    <result column="register" jdbcType="INTEGER" property="register" />
    <result column="doctorId" jdbcType="INTEGER" property="doctorid" />
    <result column="dutyDate" jdbcType="TIMESTAMP" property="dutydate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    outpatientDoctorId, register, doctorId, dutyDate
  </sql>
  <select id="selectByExample" parameterType="com.njxzc.web.entity.OutpatientPhysicianOnDutyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from outpatient_physician_on_duty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from outpatient_physician_on_duty
    where outpatientDoctorId = #{outpatientdoctorid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from outpatient_physician_on_duty
    where outpatientDoctorId = #{outpatientdoctorid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.njxzc.web.entity.OutpatientPhysicianOnDutyExample">
    delete from outpatient_physician_on_duty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njxzc.web.entity.OutpatientPhysicianOnDuty">
    insert into outpatient_physician_on_duty (outpatientDoctorId, register, doctorId, 
      dutyDate)
    values (#{outpatientdoctorid,jdbcType=INTEGER}, #{register,jdbcType=INTEGER}, #{doctorid,jdbcType=INTEGER}, 
      #{dutydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.njxzc.web.entity.OutpatientPhysicianOnDuty">
    insert into outpatient_physician_on_duty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="outpatientdoctorid != null">
        outpatientDoctorId,
      </if>
      <if test="register != null">
        register,
      </if>
      <if test="doctorid != null">
        doctorId,
      </if>
      <if test="dutydate != null">
        dutyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="outpatientdoctorid != null">
        #{outpatientdoctorid,jdbcType=INTEGER},
      </if>
      <if test="register != null">
        #{register,jdbcType=INTEGER},
      </if>
      <if test="doctorid != null">
        #{doctorid,jdbcType=INTEGER},
      </if>
      <if test="dutydate != null">
        #{dutydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njxzc.web.entity.OutpatientPhysicianOnDutyExample" resultType="java.lang.Long">
    select count(*) from outpatient_physician_on_duty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update outpatient_physician_on_duty
    <set>
      <if test="record.outpatientdoctorid != null">
        outpatientDoctorId = #{record.outpatientdoctorid,jdbcType=INTEGER},
      </if>
      <if test="record.register != null">
        register = #{record.register,jdbcType=INTEGER},
      </if>
      <if test="record.doctorid != null">
        doctorId = #{record.doctorid,jdbcType=INTEGER},
      </if>
      <if test="record.dutydate != null">
        dutyDate = #{record.dutydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update outpatient_physician_on_duty
    set outpatientDoctorId = #{record.outpatientdoctorid,jdbcType=INTEGER},
      register = #{record.register,jdbcType=INTEGER},
      doctorId = #{record.doctorid,jdbcType=INTEGER},
      dutyDate = #{record.dutydate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njxzc.web.entity.OutpatientPhysicianOnDuty">
    update outpatient_physician_on_duty
    <set>
      <if test="register != null">
        register = #{register,jdbcType=INTEGER},
      </if>
      <if test="doctorid != null">
        doctorId = #{doctorid,jdbcType=INTEGER},
      </if>
      <if test="dutydate != null">
        dutyDate = #{dutydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where outpatientDoctorId = #{outpatientdoctorid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njxzc.web.entity.OutpatientPhysicianOnDuty">
    update outpatient_physician_on_duty
    set register = #{register,jdbcType=INTEGER},
      doctorId = #{doctorid,jdbcType=INTEGER},
      dutyDate = #{dutydate,jdbcType=TIMESTAMP}
    where outpatientDoctorId = #{outpatientdoctorid,jdbcType=INTEGER}
  </update>
</mapper>