<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.ChargestatusMapper">
  <resultMap id="BaseResultMap" type="com.web.entity.Chargestatus">
    <id column="chargeStatusId" jdbcType="INTEGER" property="chargestatusid" />
    <result column="chargeItemNo" jdbcType="INTEGER" property="chargeitemno" />
    <result column="chargeAmount" jdbcType="INTEGER" property="chargeamount" />
    <result column="settleAmount" jdbcType="DOUBLE" property="settleamount" />
    <result column="cashier" jdbcType="INTEGER" property="cashier" />
    <result column="patientId" jdbcType="INTEGER" property="patientid" />
    <result column="checkoutStatus" jdbcType="VARCHAR" property="checkoutstatus" />
    <result column="isTransfer" jdbcType="VARCHAR" property="istransfer" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    chargeStatusId, chargeItemNo, chargeAmount, settleAmount, cashier, patientId, checkoutStatus, 
    isTransfer
  </sql>
  <select id="selectByExample" parameterType="com.web.entity.ChargestatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chargestatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chargestatus
    where chargeStatusId = #{chargestatusid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chargestatus
    where chargeStatusId = #{chargestatusid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.entity.ChargestatusExample">
    delete from chargestatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.entity.Chargestatus">
    insert into chargestatus (chargeStatusId, chargeItemNo, chargeAmount, 
      settleAmount, cashier, patientId, 
      checkoutStatus, isTransfer)
    values (#{chargestatusid,jdbcType=INTEGER}, #{chargeitemno,jdbcType=INTEGER}, #{chargeamount,jdbcType=INTEGER}, 
      #{settleamount,jdbcType=DOUBLE}, #{cashier,jdbcType=INTEGER}, #{patientid,jdbcType=INTEGER}, 
      #{checkoutstatus,jdbcType=VARCHAR}, #{istransfer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.web.entity.Chargestatus">
    insert into chargestatus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chargestatusid != null">
        chargeStatusId,
      </if>
      <if test="chargeitemno != null">
        chargeItemNo,
      </if>
      <if test="chargeamount != null">
        chargeAmount,
      </if>
      <if test="settleamount != null">
        settleAmount,
      </if>
      <if test="cashier != null">
        cashier,
      </if>
      <if test="patientid != null">
        patientId,
      </if>
      <if test="checkoutstatus != null">
        checkoutStatus,
      </if>
      <if test="istransfer != null">
        isTransfer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chargestatusid != null">
        #{chargestatusid,jdbcType=INTEGER},
      </if>
      <if test="chargeitemno != null">
        #{chargeitemno,jdbcType=INTEGER},
      </if>
      <if test="chargeamount != null">
        #{chargeamount,jdbcType=INTEGER},
      </if>
      <if test="settleamount != null">
        #{settleamount,jdbcType=DOUBLE},
      </if>
      <if test="cashier != null">
        #{cashier,jdbcType=INTEGER},
      </if>
      <if test="patientid != null">
        #{patientid,jdbcType=INTEGER},
      </if>
      <if test="checkoutstatus != null">
        #{checkoutstatus,jdbcType=VARCHAR},
      </if>
      <if test="istransfer != null">
        #{istransfer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.entity.ChargestatusExample" resultType="java.lang.Long">
    select count(*) from chargestatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chargestatus
    <set>
      <if test="record.chargestatusid != null">
        chargeStatusId = #{record.chargestatusid,jdbcType=INTEGER},
      </if>
      <if test="record.chargeitemno != null">
        chargeItemNo = #{record.chargeitemno,jdbcType=INTEGER},
      </if>
      <if test="record.chargeamount != null">
        chargeAmount = #{record.chargeamount,jdbcType=INTEGER},
      </if>
      <if test="record.settleamount != null">
        settleAmount = #{record.settleamount,jdbcType=DOUBLE},
      </if>
      <if test="record.cashier != null">
        cashier = #{record.cashier,jdbcType=INTEGER},
      </if>
      <if test="record.patientid != null">
        patientId = #{record.patientid,jdbcType=INTEGER},
      </if>
      <if test="record.checkoutstatus != null">
        checkoutStatus = #{record.checkoutstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.istransfer != null">
        isTransfer = #{record.istransfer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chargestatus
    set chargeStatusId = #{record.chargestatusid,jdbcType=INTEGER},
      chargeItemNo = #{record.chargeitemno,jdbcType=INTEGER},
      chargeAmount = #{record.chargeamount,jdbcType=INTEGER},
      settleAmount = #{record.settleamount,jdbcType=DOUBLE},
      cashier = #{record.cashier,jdbcType=INTEGER},
      patientId = #{record.patientid,jdbcType=INTEGER},
      checkoutStatus = #{record.checkoutstatus,jdbcType=VARCHAR},
      isTransfer = #{record.istransfer,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.entity.Chargestatus">
    update chargestatus
    <set>
      <if test="chargeitemno != null">
        chargeItemNo = #{chargeitemno,jdbcType=INTEGER},
      </if>
      <if test="chargeamount != null">
        chargeAmount = #{chargeamount,jdbcType=INTEGER},
      </if>
      <if test="settleamount != null">
        settleAmount = #{settleamount,jdbcType=DOUBLE},
      </if>
      <if test="cashier != null">
        cashier = #{cashier,jdbcType=INTEGER},
      </if>
      <if test="patientid != null">
        patientId = #{patientid,jdbcType=INTEGER},
      </if>
      <if test="checkoutstatus != null">
        checkoutStatus = #{checkoutstatus,jdbcType=VARCHAR},
      </if>
      <if test="istransfer != null">
        isTransfer = #{istransfer,jdbcType=VARCHAR},
      </if>
    </set>
    where chargeStatusId = #{chargestatusid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.entity.Chargestatus">
    update chargestatus
    set chargeItemNo = #{chargeitemno,jdbcType=INTEGER},
      chargeAmount = #{chargeamount,jdbcType=INTEGER},
      settleAmount = #{settleamount,jdbcType=DOUBLE},
      cashier = #{cashier,jdbcType=INTEGER},
      patientId = #{patientid,jdbcType=INTEGER},
      checkoutStatus = #{checkoutstatus,jdbcType=VARCHAR},
      isTransfer = #{istransfer,jdbcType=VARCHAR}
    where chargeStatusId = #{chargestatusid,jdbcType=INTEGER}
  </update>
  
  <resultMap type="com.web.entity.Chargestatus" id="myResult">
  	<id column="chargeStatusId" jdbcType="INTEGER" property="chargestatusid" />
    <result column="chargeItemNo" jdbcType="INTEGER" property="chargeitemno" />
    <result column="chargeAmount" jdbcType="INTEGER" property="chargeamount" />
    <result column="settleAmount" jdbcType="DOUBLE" property="settleamount" />
    <result column="cashier" jdbcType="INTEGER" property="cashier" />
    <result column="patientId1" jdbcType="INTEGER" property="patientid" />
    <result column="checkoutStatus" jdbcType="VARCHAR" property="checkoutstatus" />
    <result column="isTransfer" jdbcType="VARCHAR" property="istransfer" />
  	
  	<association property="chargeitem" javaType="com.web.entity.Chargeitem">
	  	<id column="chargeId" jdbcType="INTEGER" property="chargeid" />
	    <result column="patientId2" jdbcType="INTEGER" property="patientid" />
	    <result column="medicineFree" jdbcType="INTEGER" property="medicinefree" />
	    <result column="inspectionFree" jdbcType="DOUBLE" property="inspectionfree" />
	    <result column="checkFree" jdbcType="DOUBLE" property="checkfree" />
  		
  		<!-- patient -->
  		<association property="patient" javaType="com.web.entity.Patient">
  			<id column="patientId" jdbcType="INTEGER" property="patientid" />
    		<result column="name" jdbcType="VARCHAR" property="name" />
  		</association>
  	
  	</association>
  	
  	<!-- User -->
  	<association property="user" javaType="com.web.entity.User">
	  	<id column="userId" jdbcType="INTEGER" property="userid" />
	    <result column="userName" jdbcType="VARCHAR" property="username" />
  	</association>
   
  </resultMap>
   
  <select id="queryAllInfo" resultMap="myResult">
  	SELECT c.* ,i.*,u.userName,p.`name`
		FROM chargestatus c,chargeitem i,`user` u,patient p
	WHERE
		c.chargeItemNo = i.chargeId and c.cashier = u.userId and i.patientId = p.patientId
  </select>
  
</mapper>