<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.web.entity.Department">
    <id column="departmentId" jdbcType="INTEGER" property="departmentid" />
    <result column="departmentName" jdbcType="VARCHAR" property="departmentname" />
    <result column="departmentAddress" jdbcType="VARCHAR" property="departmentaddress" />
    <result column="departmentTelephone" jdbcType="VARCHAR" property="departmenttelephone" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="isDelete" jdbcType="VARCHAR" property="isdelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    departmentId, departmentName, departmentAddress, departmentTelephone, userid, isDelete
  </sql>
  <select id="selectByExample" parameterType="com.web.entity.DepartmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where departmentId = #{departmentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where departmentId = #{departmentid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.entity.DepartmentExample">
    delete from department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.entity.Department">
    insert into department (departmentId, departmentName, departmentAddress, 
      departmentTelephone, userid, isDelete
      )
    values (#{departmentid,jdbcType=INTEGER}, #{departmentname,jdbcType=VARCHAR}, #{departmentaddress,jdbcType=VARCHAR}, 
      #{departmenttelephone,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{isdelete,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.web.entity.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departmentid != null">
        departmentId,
      </if>
      <if test="departmentname != null">
        departmentName,
      </if>
      <if test="departmentaddress != null">
        departmentAddress,
      </if>
      <if test="departmenttelephone != null">
        departmentTelephone,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="isdelete != null">
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departmentid != null">
        #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="departmentname != null">
        #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="departmentaddress != null">
        #{departmentaddress,jdbcType=VARCHAR},
      </if>
      <if test="departmenttelephone != null">
        #{departmenttelephone,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.entity.DepartmentExample" resultType="java.lang.Long">
    select count(*) from department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update department
    <set>
      <if test="record.departmentid != null">
        departmentId = #{record.departmentid,jdbcType=INTEGER},
      </if>
      <if test="record.departmentname != null">
        departmentName = #{record.departmentname,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentaddress != null">
        departmentAddress = #{record.departmentaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.departmenttelephone != null">
        departmentTelephone = #{record.departmenttelephone,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.isdelete != null">
        isDelete = #{record.isdelete,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update department
    set departmentId = #{record.departmentid,jdbcType=INTEGER},
      departmentName = #{record.departmentname,jdbcType=VARCHAR},
      departmentAddress = #{record.departmentaddress,jdbcType=VARCHAR},
      departmentTelephone = #{record.departmenttelephone,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=INTEGER},
      isDelete = #{record.isdelete,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.entity.Department">
    update department
    <set>
      <if test="departmentname != null">
        departmentName = #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="departmentaddress != null">
        departmentAddress = #{departmentaddress,jdbcType=VARCHAR},
      </if>
      <if test="departmenttelephone != null">
        departmentTelephone = #{departmenttelephone,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null">
        isDelete = #{isdelete,jdbcType=VARCHAR},
      </if>
    </set>
    where departmentId = #{departmentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.entity.Department">
    update department
    set departmentName = #{departmentname,jdbcType=VARCHAR},
      departmentAddress = #{departmentaddress,jdbcType=VARCHAR},
      departmentTelephone = #{departmenttelephone,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      isDelete = #{isdelete,jdbcType=VARCHAR}
    where departmentId = #{departmentid,jdbcType=INTEGER}
  </update>
</mapper>