<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.MedicalrecordMapper">
  <resultMap id="BaseResultMap" type="com.web.entity.Medicalrecord">
    <id column="medicalRecordId" jdbcType="INTEGER" property="medicalrecordid" />
    <result column="patientId" jdbcType="INTEGER" property="patientid" />
    <result column=" category" jdbcType="VARCHAR" property="category" />
    <result column="anamnesis" jdbcType="VARCHAR" property="anamnesis" />
    <result column="doctorAdviceId" jdbcType="INTEGER" property="doctoradviceid" />
    <result column="idDelete" jdbcType="VARCHAR" property="iddelete" />
    <result column="departmentId" jdbcType="INTEGER" property="departmentid" />
    <result column="admissionDate" jdbcType="VARCHAR" property="admissiondate" />
    <result column="admissionDiagnosis" jdbcType="VARCHAR" property="admissiondiagnosis" />
    <result column="admissionStatus" jdbcType="VARCHAR" property="admissionstatus" />
    <result column="transfer" jdbcType="VARCHAR" property="transfer" />
    <result column="dischargeTime" jdbcType="TIMESTAMP" property="dischargetime" />
    <result column="dischargeDiagnosis" jdbcType="VARCHAR" property="dischargediagnosis" />
    <result column="dischargeStatus" jdbcType="VARCHAR" property="dischargestatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    medicalRecordId, patientId, " category", anamnesis, doctorAdviceId, idDelete, departmentId, 
    admissionDate, admissionDiagnosis, admissionStatus, transfer, dischargeTime, dischargeDiagnosis, 
    dischargeStatus
  </sql>
  <select id="selectByExample" parameterType="com.web.entity.MedicalrecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from medicalrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from medicalrecord
    where medicalRecordId = #{medicalrecordid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from medicalrecord
    where medicalRecordId = #{medicalrecordid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.entity.MedicalrecordExample">
    delete from medicalrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.entity.Medicalrecord">
    insert into medicalrecord (medicalRecordId, patientId, " category", 
      anamnesis, doctorAdviceId, idDelete, 
      departmentId, admissionDate, admissionDiagnosis, 
      admissionStatus, transfer, dischargeTime, 
      dischargeDiagnosis, dischargeStatus)
    values (#{medicalrecordid,jdbcType=INTEGER}, #{patientid,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, 
      #{anamnesis,jdbcType=VARCHAR}, #{doctoradviceid,jdbcType=INTEGER}, #{iddelete,jdbcType=VARCHAR}, 
      #{departmentid,jdbcType=INTEGER}, #{admissiondate,jdbcType=VARCHAR}, #{admissiondiagnosis,jdbcType=VARCHAR}, 
      #{admissionstatus,jdbcType=VARCHAR}, #{transfer,jdbcType=VARCHAR}, #{dischargetime,jdbcType=TIMESTAMP}, 
      #{dischargediagnosis,jdbcType=VARCHAR}, #{dischargestatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.web.entity.Medicalrecord">
    insert into medicalrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="medicalrecordid != null">
        medicalRecordId,
      </if>
      <if test="patientid != null">
        patientId,
      </if>
      <if test="category != null">
        " category",
      </if>
      <if test="anamnesis != null">
        anamnesis,
      </if>
      <if test="doctoradviceid != null">
        doctorAdviceId,
      </if>
      <if test="iddelete != null">
        idDelete,
      </if>
      <if test="departmentid != null">
        departmentId,
      </if>
      <if test="admissiondate != null">
        admissionDate,
      </if>
      <if test="admissiondiagnosis != null">
        admissionDiagnosis,
      </if>
      <if test="admissionstatus != null">
        admissionStatus,
      </if>
      <if test="transfer != null">
        transfer,
      </if>
      <if test="dischargetime != null">
        dischargeTime,
      </if>
      <if test="dischargediagnosis != null">
        dischargeDiagnosis,
      </if>
      <if test="dischargestatus != null">
        dischargeStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="medicalrecordid != null">
        #{medicalrecordid,jdbcType=INTEGER},
      </if>
      <if test="patientid != null">
        #{patientid,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="anamnesis != null">
        #{anamnesis,jdbcType=VARCHAR},
      </if>
      <if test="doctoradviceid != null">
        #{doctoradviceid,jdbcType=INTEGER},
      </if>
      <if test="iddelete != null">
        #{iddelete,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null">
        #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="admissiondate != null">
        #{admissiondate,jdbcType=VARCHAR},
      </if>
      <if test="admissiondiagnosis != null">
        #{admissiondiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="admissionstatus != null">
        #{admissionstatus,jdbcType=VARCHAR},
      </if>
      <if test="transfer != null">
        #{transfer,jdbcType=VARCHAR},
      </if>
      <if test="dischargetime != null">
        #{dischargetime,jdbcType=TIMESTAMP},
      </if>
      <if test="dischargediagnosis != null">
        #{dischargediagnosis,jdbcType=VARCHAR},
      </if>
      <if test="dischargestatus != null">
        #{dischargestatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.entity.MedicalrecordExample" resultType="java.lang.Long">
    select count(*) from medicalrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update medicalrecord
    <set>
      <if test="record.medicalrecordid != null">
        medicalRecordId = #{record.medicalrecordid,jdbcType=INTEGER},
      </if>
      <if test="record.patientid != null">
        patientId = #{record.patientid,jdbcType=INTEGER},
      </if>
      <if test="record.category != null">
        " category" = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.anamnesis != null">
        anamnesis = #{record.anamnesis,jdbcType=VARCHAR},
      </if>
      <if test="record.doctoradviceid != null">
        doctorAdviceId = #{record.doctoradviceid,jdbcType=INTEGER},
      </if>
      <if test="record.iddelete != null">
        idDelete = #{record.iddelete,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentid != null">
        departmentId = #{record.departmentid,jdbcType=INTEGER},
      </if>
      <if test="record.admissiondate != null">
        admissionDate = #{record.admissiondate,jdbcType=VARCHAR},
      </if>
      <if test="record.admissiondiagnosis != null">
        admissionDiagnosis = #{record.admissiondiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="record.admissionstatus != null">
        admissionStatus = #{record.admissionstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.transfer != null">
        transfer = #{record.transfer,jdbcType=VARCHAR},
      </if>
      <if test="record.dischargetime != null">
        dischargeTime = #{record.dischargetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dischargediagnosis != null">
        dischargeDiagnosis = #{record.dischargediagnosis,jdbcType=VARCHAR},
      </if>
      <if test="record.dischargestatus != null">
        dischargeStatus = #{record.dischargestatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update medicalrecord
    set medicalRecordId = #{record.medicalrecordid,jdbcType=INTEGER},
      patientId = #{record.patientid,jdbcType=INTEGER},
      " category" = #{record.category,jdbcType=VARCHAR},
      anamnesis = #{record.anamnesis,jdbcType=VARCHAR},
      doctorAdviceId = #{record.doctoradviceid,jdbcType=INTEGER},
      idDelete = #{record.iddelete,jdbcType=VARCHAR},
      departmentId = #{record.departmentid,jdbcType=INTEGER},
      admissionDate = #{record.admissiondate,jdbcType=VARCHAR},
      admissionDiagnosis = #{record.admissiondiagnosis,jdbcType=VARCHAR},
      admissionStatus = #{record.admissionstatus,jdbcType=VARCHAR},
      transfer = #{record.transfer,jdbcType=VARCHAR},
      dischargeTime = #{record.dischargetime,jdbcType=TIMESTAMP},
      dischargeDiagnosis = #{record.dischargediagnosis,jdbcType=VARCHAR},
      dischargeStatus = #{record.dischargestatus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.entity.Medicalrecord">
    update medicalrecord
    <set>
      <if test="patientid != null">
        patientId = #{patientid,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        " category" = #{category,jdbcType=VARCHAR},
      </if>
      <if test="anamnesis != null">
        anamnesis = #{anamnesis,jdbcType=VARCHAR},
      </if>
      <if test="doctoradviceid != null">
        doctorAdviceId = #{doctoradviceid,jdbcType=INTEGER},
      </if>
      <if test="iddelete != null">
        idDelete = #{iddelete,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null">
        departmentId = #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="admissiondate != null">
        admissionDate = #{admissiondate,jdbcType=VARCHAR},
      </if>
      <if test="admissiondiagnosis != null">
        admissionDiagnosis = #{admissiondiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="admissionstatus != null">
        admissionStatus = #{admissionstatus,jdbcType=VARCHAR},
      </if>
      <if test="transfer != null">
        transfer = #{transfer,jdbcType=VARCHAR},
      </if>
      <if test="dischargetime != null">
        dischargeTime = #{dischargetime,jdbcType=TIMESTAMP},
      </if>
      <if test="dischargediagnosis != null">
        dischargeDiagnosis = #{dischargediagnosis,jdbcType=VARCHAR},
      </if>
      <if test="dischargestatus != null">
        dischargeStatus = #{dischargestatus,jdbcType=VARCHAR},
      </if>
    </set>
    where medicalRecordId = #{medicalrecordid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.entity.Medicalrecord">
    update medicalrecord
    set patientId = #{patientid,jdbcType=INTEGER},
      " category" = #{category,jdbcType=VARCHAR},
      anamnesis = #{anamnesis,jdbcType=VARCHAR},
      doctorAdviceId = #{doctoradviceid,jdbcType=INTEGER},
      idDelete = #{iddelete,jdbcType=VARCHAR},
      departmentId = #{departmentid,jdbcType=INTEGER},
      admissionDate = #{admissiondate,jdbcType=VARCHAR},
      admissionDiagnosis = #{admissiondiagnosis,jdbcType=VARCHAR},
      admissionStatus = #{admissionstatus,jdbcType=VARCHAR},
      transfer = #{transfer,jdbcType=VARCHAR},
      dischargeTime = #{dischargetime,jdbcType=TIMESTAMP},
      dischargeDiagnosis = #{dischargediagnosis,jdbcType=VARCHAR},
      dischargeStatus = #{dischargestatus,jdbcType=VARCHAR}
    where medicalRecordId = #{medicalrecordid,jdbcType=INTEGER}
  </update>
  
 
   <resultMap type="com.web.entity.Medicalrecord" id="medicalrecordResultMap">
   
    <id column="medicalRecordId" jdbcType="INTEGER" property="medicalrecordid" />
    <result column="patientId" jdbcType="INTEGER" property="patientid" />
    <result column="anamnesis" jdbcType="VARCHAR" property="anamnesis" />
    <result column="doctorAdviceId" jdbcType="INTEGER" property="doctoradviceid" />
    <result column="idDelete" jdbcType="VARCHAR" property="iddelete" />
   
   
   <association property="patient" javaType="com.web.entity.Patient">
			<id column="patientId" jdbcType="INTEGER" property="patientid" />
			<result column="name" jdbcType="VARCHAR" property="name" />

		</association>
		
		
		
		<association property="doctoradvice" javaType="com.web.entity.Doctoradvice">
			 <id column="doctorAdviceId" jdbcType="INTEGER" property="doctoradviceid" />
			 <result column="doctorAdviceContent" jdbcType="VARCHAR" property="doctoradvicecontent" />

		</association>
		
		
		
  </resultMap>
  
  
  <select id="queryAll" resultMap="medicalrecordResultMap">
     SELECT m.medicalRecordId,m.anamnesis,p.`name`,d.doctorAdviceContent
     FROM medicalrecord m,patient p,doctoradvice d
     WHERE m.patientId=p.patientId
     and m.doctorAdviceId= d.doctorAdviceId
  
  </select>
  
  
  
</mapper>