<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.PositionMapper">
  <resultMap id="BaseResultMap" type="com.web.entity.Position">
    <id column="postNumber" jdbcType="INTEGER" property="postnumber" />
    <result column="isDelete" jdbcType="INTEGER" property="isdelete" />
    <result column="postName" jdbcType="VARCHAR" property="postname" />
    <result column="departmentId" jdbcType="INTEGER" property="departmentid" />
    <result column="postSalary" jdbcType="INTEGER" property="postsalary" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    postNumber, isDelete, postName, departmentId, postSalary
  </sql>
  <select id="selectByExample" parameterType="com.web.entity.PositionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from position
    where postNumber = #{postnumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from position
    where postNumber = #{postnumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.entity.PositionExample">
    delete from position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.entity.Position">
    insert into position (postNumber, isDelete, postName, 
      departmentId, postSalary)
    values (#{postnumber,jdbcType=INTEGER}, #{isdelete,jdbcType=INTEGER}, #{postname,jdbcType=VARCHAR}, 
      #{departmentid,jdbcType=INTEGER}, #{postsalary,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.web.entity.Position">
    insert into position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postnumber != null">
        postNumber,
      </if>
      <if test="isdelete != null">
        isDelete,
      </if>
      <if test="postname != null">
        postName,
      </if>
      <if test="departmentid != null">
        departmentId,
      </if>
      <if test="postsalary != null">
        postSalary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="postnumber != null">
        #{postnumber,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="postname != null">
        #{postname,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null">
        #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="postsalary != null">
        #{postsalary,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.entity.PositionExample" resultType="java.lang.Long">
    select count(*) from position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update position
    <set>
      <if test="record.postnumber != null">
        postNumber = #{record.postnumber,jdbcType=INTEGER},
      </if>
      <if test="record.isdelete != null">
        isDelete = #{record.isdelete,jdbcType=INTEGER},
      </if>
      <if test="record.postname != null">
        postName = #{record.postname,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentid != null">
        departmentId = #{record.departmentid,jdbcType=INTEGER},
      </if>
      <if test="record.postsalary != null">
        postSalary = #{record.postsalary,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update position
    set postNumber = #{record.postnumber,jdbcType=INTEGER},
      isDelete = #{record.isdelete,jdbcType=INTEGER},
      postName = #{record.postname,jdbcType=VARCHAR},
      departmentId = #{record.departmentid,jdbcType=INTEGER},
      postSalary = #{record.postsalary,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.entity.Position">
    update position
    <set>
      <if test="isdelete != null">
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="postname != null">
        postName = #{postname,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null">
        departmentId = #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="postsalary != null">
        postSalary = #{postsalary,jdbcType=INTEGER},
      </if>
    </set>
    where postNumber = #{postnumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.entity.Position">
    update position
    set isDelete = #{isdelete,jdbcType=INTEGER},
      postName = #{postname,jdbcType=VARCHAR},
      departmentId = #{departmentid,jdbcType=INTEGER},
      postSalary = #{postsalary,jdbcType=INTEGER}
    where postNumber = #{postnumber,jdbcType=INTEGER}
  </update>
  
  <!-- 自定义结果集 -->
  <resultMap type="com.web.entity.Position" id="resultPosition">
        <id column="postNumber" jdbcType="INTEGER" property="postnumber" />
	    <result column="isDelete" jdbcType="INTEGER" property="isdelete" />
	    <result column="postName" jdbcType="VARCHAR" property="postname" />
	    <result column="departmentId" jdbcType="INTEGER" property="departmentid" />
	    <result column="postSalary" jdbcType="INTEGER" property="postsalary" />
	    
	    <!-- 多对一 -->
	    <association property="department" javaType="com.web.entity.Department">
	        <id column="departmentId1" jdbcType="INTEGER" property="departmentid" />
		    <result column="departmentName" jdbcType="VARCHAR" property="departmentname" />
		    <result column="departmentAddress" jdbcType="VARCHAR" property="departmentaddress" />
		    <result column="departmentTelephone" jdbcType="VARCHAR" property="departmenttelephone" />
		    <result column="userid" jdbcType="INTEGER" property="userid" />
		    <result column="isDelete" jdbcType="VARCHAR" property="isdelete" />
	    </association>
  
  </resultMap>
  
  <select id="queryPositionDept" parameterType="com.web.entity.Position" 
     resultMap="resultPosition">
     select  p.*,d.*  from position p,department d
      where p.departmentId = d.departmentId
  </select>
  
</mapper>